@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif; /* Added quotes */
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 10px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 600px) {  /* Fixed: Space after 'and' */
    h1 {
        font-size: 20px;
        letter-spacing: 2px; /* Optional: Reduce spacing for mobile */
    }
    .image-container {
        margin: 10px; /* Removes the 30% side margins */
    }
}